@use "colors" as color;

footer {
  flex-shrink: 0;
  font-size: 1.2em;
  color: color.$fiona-orange;
  font-weight: 500;
  text-align: center;
  padding: 1em 0;

  @media screen and (max-width: 768px) {
    font-size: 0.8em;
  }
}
