@use "colors" as color;

.footer {
  color: color.$fiona-orange;
  display: flex;
  flex-flow: row wrap;
  flex-shrink: 0;
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 0.2em;
  z-index: 1;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
    transition: 256ms;
  }

  a:active,
  a:hover {
    color: color.$secondary;
    transition: 256ms;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.8em;
    padding: 1.4em 0 5.2em;

    .copyright,
    .links {
      width: 100%;
      text-align: center;
      margin-top: 0.2em;
    }
  }
}

.copyright {
  order: 1;
  width: 50%;
  margin-top: 0.2em; // vertical align for font size
  padding-left: 0.4em;
  text-align: left;
}

.links {
  order: 2;
  width: 50%;
  text-align: right;
  font-size: 1.8rem;

  a {
    padding: 0.2em 0.4em;
  }
}
